[submodule "dotbot"]
	path = .dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "vim/bundle/vim-javascript"]
	path = vim/pack/vendor/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
	ignore = untracked
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/pack/vendor/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
	ignore = untracked
[submodule "vim/bundle/vim-json"]
	path = vim/pack/vendor/start/vim-json
	url = https://github.com/elzr/vim-json
	ignore = untracked
[submodule "vim/bundle/incsearch.vim"]
	path = vim/pack/vendor/start/incsearch.vim
	url = https://github.com/haya14busa/incsearch.vim
	ignore = untracked
[submodule "vim/bundle/incsearch-easymotion.vim"]
	path = vim/pack/vendor/start/incsearch-easymotion.vim
	url = https://github.com/haya14busa/incsearch-easymotion.vim
	ignore = untracked
[submodule "vim/bundle/typescript-vim"]
	path = vim/pack/vendor/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim
	ignore = untracked
[submodule "zsh/plugins/dircolors-solarized"]
	path = shell/plugins/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/plugins/zsh-completions"]
	path = zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "vim/pack/vendor/start/jellybeans.vim"]
	path = vim/pack/vendor/start/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "vim/pack/vendor/start/ale"]
	path = vim/pack/vendor/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim/pack/vendor/start/nerdcommenter"]
	path = vim/pack/vendor/start/nerdcommenter
	url = https://github.com/preservim/nerdcommenter.git
